.container{
  display: grid;
  grid-template: auto auto auto auto / 1fr 1fr 1fr;
}
header{
  grid-column:1/-1;
  grid-row:1/2;
}
nav{
  grid-column:1/-1;
  grid-row:2/3;
}
main{
  grid-column:1/-1;
  grid-row:4/5;
}
footer{
  grid-column:1/-1;
  grid-row:6/7;
}
@media only screen and (max-width: 800px){
}
