.container {
  height: 100vh;
  width: 100%;
}
main {
  border-style: solid;
}
.svartRuta {
  border-style: solid;
  width: 75px;
  height: 75px;
  color: rgb(32, 31, 6)
}
.vitRuta {
  border-style: solid;
  width: 75px;
  height: 75px;
  color: rgb(169, 210, 197)
}
.h1 {
text-align: center;
font-family: "Raleway", sans-serif;
font-weight: bold;
color: white;
font-size: 16px

}
.länk {
  transition: 0.4s;
  color: #rgb(180, 52, 18);
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.länk:hover {
  background-color: #ffffff;
  color: #rgb(240, 52, 18);
  padding: 24px 10px;
}
