.container {
  height: 100vh;
  width: 100%;
}
main {
  text-align: center;
}
.brade {
  min-width: 40%;
  min-height: 40%;
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
}
.h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
}
.h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
/* Ser till att de hamnar i mitten med margin auto och 50% width*/
h1{
  text-align: center;
}
h2{
  text-align: center;
}
nav {
  text-align: center;
}

/* Fixar dropdownmeny*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Används för bräde*/
.svartRuta {
  border-style: solid;
  width: 75px;
  height: 75px;
  color: rgb(32, 31, 6);
}
.vitRuta {
  border-style: solid;
  width: 75px;
  height: 75px;
  color: rgb(169, 210, 197);
}
